@model Order

<head>
    <link rel="stylesheet" href="~/css/checkout.css" type="text/css">
</head>
<body>
<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="img/bluebanner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="banner__text">
                    <h2>Checkout</h2>
                    <div class="banner__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!--Payment Cpmpletion Begin-->
<div id="wrap">
	<div id="grid">
		<div class="column column1">
			<div class="step" id="step1">
				<div class="number">
					<span>1</span>
			</div>
			<div class="title">
				<h4 class="checkout_h4">Email Address</h4>
			</div>
		</div>
		<div class="content" id="email">
			<form class="go-right">
				<div>
        <input type="email" name="email" value="" id="email-address" data-trigger="change" data-validation-minlength="1" data-type="email" data-required="true" disabled/><label for="email">@ViewData["User"]</label>
        </div>
			</form>
		</div>
		<div class="step" id="step2">
			<div class="number">
				<span>2</span>
			</div>
			<div class="title">
				<h4 class="checkout_h4">Delivery Info</h4>
			</div>
		</div>
		<div class="content" id="address">
			<form class="go-right">
				<div>
					<input type="name" name="first_name" value="" id="first_name" placeholder="First Name" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your First Name"/><label for="first_name">First Name</label>
				</div>
				<div>
					<input type="name" name="last_name" value="" id="last_name" placeholder="Last Name" data-trigger="change" data-validation-minlength="1" data-type="name" data-required="true" data-error-message="Enter Your Last Name"/><label for="last_name">Last Name</label>
				</div>
				<div>
					<input type="phone" name="telephone" value="" id="telephone" placeholder="Phone 054-1234567" data-trigger="change" data-validation-minlength="1" data-type="number" data-required="true" data-error-message="Enter Your Telephone Number"/><label for="telephone">Telephone</label>
				</div>
				<div>
					<input type="text" name="address" value="" id="address" placeholder="Address" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing Address"/><label for="Address">Address</label>
				</div>
				<div>
					<input type="text" name="city" value="" id="city" placeholder="City" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing City"/><label for="city">City</label>
				</div>
				<div>
					<input type="text" name="zip" value="" id="zip" placeholder="Zip Code" data-trigger="change" data-validation-minlength="1" data-type="text" data-required="true" data-error-message="Enter Your Billing Zip Code"/><label for="zip">Zip Code</label>
				</div>
			</form>
		</div>
	</div>
	<div class="column column2">
		<div class="step" id="step3">
			<div class="number">
				<span>3</span>
			</div>
			<div class="title">
				<h4 class="checkout_h4">Shipping</h4>
			</div>
		</div>
		<div class="content" id="shipping">
			<form action="" method="" name="">
				<p>		
					<input type="radio" id="shipping_1" value="1"/><label for="shipping_1">Shipping Only<span class="price">(Free - COVID-19)</span></label>
				</p>
			</form>
		</div>
		<div class="step" id="step4">
			<div class="number">
				<span>4</span>
			</div>
			<div class="title">
				<h4 class="checkout_h4">Payment</h4>
			</div>
		</div>
			<div class="content" id="payment label">
				<div class="content" id="shipping">
					<form action="" method="" name="">
						<p>		
							<input type="radio" id="shipping_1" value="1"/><label for="shipping_1">Shipping Only<span class="price">(Free - COVID-19)</span></label>
						</p>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="accepted">
					<img src="~/img/payment-item.png">
				</div>
				<div class="secured">
					<img class="lock" src="https://i.imgur.com/hHuibOR.png">
					<span class="secured-text">Secured Payment by BOOKBUSTER ltd.</span>
				</div>
			</div>
 		</div>
 	</div>
 	<div class="column column3">
 		<div class="step" id="step5">
			<div class="number">
				<span>5</span>
			</div>
			<div class="title">
				<h4 class="checkout_h4">Finalize Order</h4>
			</div>
		</div>
		<div class="content" id="final_products">
			<div class="left" id="ordered">
				<div class="products">
					<div class="product_image">
						image
					</div>
					<div class="product_details">
						<span class="product_name">Name</span>
						<span class="quantity">X</span>
						<span class="price">$</span>
					</div>
				</div>
				<div class="totals">
					@{
						var GrandSubtotals= 0;
						var Tax = Math.Round(GrandSubtotals * 0.17,2);
						var GradnTotal= Math.Round(GrandSubtotals + Tax,2);

					<span class="subtitle">Subtotal <span id="sub_price">$@GrandSubtotals</span></span>
					<span class="subtitle">Tax (17%) <span id="sub_tax">$@Tax</span></span>
					<span class="subtitle">Shipping <span id="sub_ship">$</span></span>
					}
				</div>
				<div class="final">
					<span class="title">Total <span id="calculated_total">$@GradnTotal</span></span>
				</div>
			</div>	
			<div class="right" id="reviewed">
				<div id="complete">
					<button type="submit" id="placeOrder" class="button-done" disabled>Complete Order</button>
						<div class="input-checkbox">
							  <label for="terms">
									<span class="sub">By selecting this button you agree to the purchase and subsequent payment for this order.<br/>
									<input type="checkbox" id="terms" onclick="acceptTerms()">
									I've read and accept the <a asp-action="Terms">terms & conditions</a></span>
							</label>
						</div>
                 </div>
			</div>
		</div>
	</div>
</div>

<!--Payment Cpmpletion End-->

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="~/js/Checkout/displayOrderdetails.js"></script>
    <script src="~/js/Checkout/acceptTerms.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script id="restuls" type="text/html">

        <div class="order-col">
            <div>${id}</div>
            <div>${book}</div>
            <div>${quantity}</div>
            <div>${price}</div>
        </div>

    </script>
}

</body>